body{
    background: #2a2a3c;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
    animation: animate 1.2s ease-in-out infinite;
}
@keyframes animate{
    0%, 10%, 100% {
        height: 40px;
        width: 40px;
    }
    65%{
        height: 70px;
        width: 70px;
    }
}
.span1{
    position: absolute;
    animation: rotate: 1.2s linear both infinite;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red
}
@keyframes rotate {
    0%, 30%{
        transform: rotate(0);
        65% { 
            transform: rotate: -40deg; 
        }
    }
}
.span2{
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    left: 0;
    background-color: #1ac9ff;
}
.span3{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    left: 0;
    background-color: yellow ;
}
.span4{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    right: 0;
    background-color:gray ;
}