body{
    align-items: center;
    justify-content: center;
    display: flex;
}
.menu-icon{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    display:table;   
        gap: 30px;
    
}
.top-line,
.middle-line,
.bottom-line{
    height: 20px;
    width: 80px;
    border-radius: 40%;
    background-color: black;
    
}